.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 50px
  background-color: #444444
  z-index: 100
  box-shadow: 0 0 10px #000000
  &__menuMobile
    height: 50px
    @include margin()
    @include centerTypeOne()
    &__button
      font-size: 2em
      color: $color-white
      cursor: pointer
    &__title
      font-size: 1em
      & a 
        color: $color-white
        text-decoration: none
      & a:hover
        text-decoration: underline

.mobile
  width: 260px
  height: 90vh
  position: fixed
  top: 0
  left: -100%
  z-index: 1000
  box-shadow: 1px 1px 10px #000000
  background-color: #444444
  transition: all 2s
  &__container
    height: 100%
    padding-bottom: 30px
    padding-top: 30px
    @include margin()
    &__back
      @include centerTypeFour()
      height: 40px
      cursor: pointer
      &-return
        width: 30px
        height: 30px
        @include centerTypeThree()
        & span 
          font-size: 1.3em
          color: #ffffff
    &__logo
      height: 90px
      @include centerTypeThree()
      & img 
        width: 90px
        height: 90px
        overflow: hidden
    &__logoDos
      height: 40px
      @include centerTypeThree()
      overflow: hidden
      & img 
        width: 160px
        height: 160px
    &__information
      height: 220px
      display: flex
      @include centerTypeFive()
      & button 
        width: 150px
        height: 30px
        border: 1px solid #ffffff38
        background-color: #0000001a
        color: #ffffff
        border-radius: 7px
        box-shadow: 0 0 5px #000000
        outline: none
      & button:hover
        background-color: #db1f1f1a
        cursor: pointer
    &__socialmedia
      @include centerTypeTwo()
      height: 80px
      &-facebook
        width: 50px
        height: 50px
        @include centerTypeThree()
        border-radius: 50%
        font-size: 2em
        background-color: #ffffff96
        & a 
          @include centerTypeThree()
          color: #444444
          text-decoration: none
      &-twitter
        width: 50px
        height: 50px
        @include centerTypeThree()
        border-radius: 50%
        font-size: 2em
        background-color: #ffffff96
        & a 
          @include centerTypeThree()
          color: #444444 
          text-decoration: none
      &-youtube
        width: 50px
        height: 50px
        @include centerTypeThree()
        border-radius: 50%
        font-size: 2em
        background-color: #ffffff96
        & a 
          @include centerTypeThree()
          text-decoration: none
          color: #444444



.mapInformation
  width: 100%
  display: block
  &__map
    width: 100vw
    height: 100vh
  &__information
    width: 100vw
    height: 100vh
    background-color: #444444
    &__statistics
      height: 100%
      padding-top: 60px
      @include margin()
      color: #ffffff
      &-head
        padding: 0 0 10px
        @include centerTypeTwo()
        & img
          width: 60px
        & h3
          padding: 10px 0
          font-size: 1.4em
          text-align: center
      &-data
        @include centerTypeOne()
        border-top: none
        border-right: none
        border-left: none
        border-bottom: 1px solid #201e1e
        & label 
          display: flex
          align-items: center
          width: 60%
          height: 40px
          font-size: 1em
          & span
            font-size: 2em
            padding-right: 10px
        & h6 
          height: 40px
          width: 40%
          font-size: .9em
          letter-spacing: 2px
          text-align: right
          line-height: 50px
      &-table
        padding: 0 0 10px
        height: 200px
        overflow-y: scroll
        & h4 
          width: 100%
          padding: 8px
          text-align: center
        & table
          width: 100%
        & .table__cabeza
          border: 1px solid transparent 
          & .table__filas 
            height: 30px
            & .table__filas-number 
              width: 8%
            &  .table__filas-stade
              width: 60%
              padding-left: 5px
              text-align: left
            &  .table__filas-conf
              width: 32%
              text-align: right
        & .table__body
          border: 1px solid transparent 
          & .table__filas 
            height: 30px  
            & .number
              text-align: center
            & .stade
              padding-left: 5px
            & .conf
              text-align: right
              letter-spacing: 2px

.uno 
  background-color: rgba(255, 255 , 255 , .05)

.mapInformation__information__statistics-table::-webkit-scrollbar
  width: 7px
  background-color: #3b3b3a
.mapInformation__information__statistics-table::-webkit-scrollbar-thumb
  background-color: #444444









